/* Visual Padrão */
.lista.visual_padrao.aninhamento_impar{
  background-color: #E0E0F2;
}
.lista.visual_padrao.aninhamento_par{
  background-color: #E8E8E8;
}
.conteudo_da_lista>.lista.visual_padrao{
  border-top: 1px solid #000;
  padding: 15px 10px;
}
.conteudo_da_lista>.lista.visual_padrao:first-child{
  border-top: none;
}
.lista.visual_padrao .opcoes_e_titulo_da_lista{
  border: 1px solid #000;
  padding: 3px 6px;
  background: linear-gradient(90deg, #323232 0%, #505050 50%, #323232 100%);
  color: #FFF;
}
.lista.visual_padrao .opcoes_e_titulo_da_lista>*{
  display: inline-block;
  vertical-align: middle;
}
.lista.visual_padrao .local_do_titulo_da_lista{
  min-width: calc(100% - 24px);
  max-width: calc(100% - 24px);
}
.lista.visual_padrao .local_do_titulo_da_lista>a{
  color: #80B8FF;
  text-decoration: none;
  cursor: pointer;
}
.lista.visual_padrao .local_do_titulo_da_lista>a:visited{
  color: #D8A0FF;
  text-decoration: none;
  cursor: pointer;
}
.lista.visual_padrao .local_do_titulo_da_lista>a:hover{
  text-decoration: underline;
  cursor: pointer;
}
.lista.visual_padrao .opcoes_e_titulo_da_lista>.opcao_encolher{
  max-height: 24px;
  cursor: pointer;
}
.lista.visual_padrao .opcoes_e_titulo_da_lista>.opcao_encolher>svg{
  filter: invert(1) brightness(0) sepia(1) hue-rotate(0deg) saturate(1) invert(1);
}
.lista.visual_padrao .opcoes_e_titulo_da_lista>.opcao_expandir{
  max-height: 24px;
  cursor: pointer;
}
.lista.visual_padrao .opcoes_e_titulo_da_lista>.opcao_expandir>svg{
  filter: invert(1) brightness(0) sepia(1) hue-rotate(0deg) saturate(1) invert(1);
}
.lista.visual_padrao .conteudo_da_lista{
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
}
.lista.visual_padrao .item_simples{
  border-top: 1px solid #000;
  padding: 7px 11px;
  background-color: #FFF;
}
.lista.visual_padrao .item_simples:first-child{
  border-top: none;
}
.lista.visual_padrao .item_simples:hover{
  background-color: #DDF0F0;
}
.lista.visual_padrao .item_simples>.local_do_texto_do_item>a{
  color: #0028C8;
  text-decoration: none;
  cursor: pointer;
}
.lista.visual_padrao .item_simples>.local_do_texto_do_item>a:visited{
  color: #6000A0;
  text-decoration: none;
  cursor: pointer;
}
.lista.visual_padrao .item_simples>.local_do_texto_do_item>a:hover{
  text-decoration: underline;
  cursor: pointer;
}

/* Visual Azul Metálico */
.lista.visual_azul_metalico.aninhamento_impar{
  background-color: #D6DEED;
}
.lista.visual_azul_metalico.aninhamento_par{
  background-color: #EDEDED;
}
.conteudo_da_lista>.lista.visual_azul_metalico{
  border-top: 1px solid #000;
  padding: 15px 10px;
}
.conteudo_da_lista>.lista.visual_azul_metalico:first-child{
  border-top: none;
}
.lista.visual_azul_metalico .opcoes_e_titulo_da_lista{
  border: 1px solid #000;
  padding: 3px 6px;
  background: linear-gradient(90deg, #C8E0F2 0%, #AAC2D8 15%, #C8E0F2 50%, #AAC2D8 85%,#C8E0F2 100%);
}
.lista.visual_azul_metalico .opcoes_e_titulo_da_lista>*{
  display: inline-block;
  vertical-align: middle;
}
.lista.visual_azul_metalico .local_do_titulo_da_lista{
  min-width: calc(100% - 24px);
  max-width: calc(100% - 24px);
}
.lista.visual_azul_metalico .local_do_titulo_da_lista>a{
  color: #0018B8;
  text-decoration: none;
  cursor: pointer;
}
.lista.visual_azul_metalico .local_do_titulo_da_lista>a:visited{
  color: #400094;
  text-decoration: none;
  cursor: pointer;
}
.lista.visual_azul_metalico .local_do_titulo_da_lista>a:hover{
  text-decoration: underline;
  cursor: pointer;
}
.lista.visual_azul_metalico .opcoes_e_titulo_da_lista>.opcao_encolher{
  max-height: 24px;
  cursor: pointer;
}
.lista.visual_azul_metalico .opcoes_e_titulo_da_lista>.opcao_expandir{
  max-height: 24px;
  cursor: pointer;
}
.lista.visual_azul_metalico .conteudo_da_lista{
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
}
.lista.visual_azul_metalico .item_simples{
  border-top: 1px solid #000;
  padding: 7px 11px;
  background-color: #FFF;
}
.lista.visual_azul_metalico .item_simples:first-child{
  border-top: none;
}
.lista.visual_azul_metalico .item_simples:hover{
  background-color: #FDFDD8;
}
.lista.visual_azul_metalico .item_simples>.local_do_texto_do_item>a{
  color: #0028C8;
  text-decoration: none;
  cursor: pointer;
}
.lista.visual_azul_metalico .item_simples>.local_do_texto_do_item>a:visited{
  color: #6000A0;
  text-decoration: none;
  cursor: pointer;
}
.lista.visual_azul_metalico .item_simples>.local_do_texto_do_item>a:hover{
  text-decoration: underline;
  cursor: pointer;
}

/* Visual Cítrico */
.lista.visual_citrico.aninhamento_impar{
  background-color: #E0EDE0;
}
.lista.visual_citrico.aninhamento_par{
  background-color: #F0F0D0;
}
.conteudo_da_lista>.lista.visual_citrico{
  border-top: 1px solid #000;
  padding: 15px 10px;
}
.conteudo_da_lista>.lista.visual_citrico:first-child{
  border-top: none;
}
.lista.visual_citrico .opcoes_e_titulo_da_lista{
  border: 1px solid #000;
  padding: 3px 6px;
  background-color: #FCD0A0;
}
.lista.visual_citrico .opcoes_e_titulo_da_lista>*{
  display: inline-block;
  vertical-align: middle;
}
.lista.visual_citrico .local_do_titulo_da_lista{
  min-width: calc(100% - 24px);
  max-width: calc(100% - 24px);
}
.lista.visual_citrico .local_do_titulo_da_lista>a{
  color: #0018B8;
  text-decoration: none;
  cursor: pointer;
}
.lista.visual_citrico .local_do_titulo_da_lista>a:visited{
  color: #400094;
  text-decoration: none;
  cursor: pointer;
}
.lista.visual_citrico .local_do_titulo_da_lista>a:hover{
  text-decoration: underline;
  cursor: pointer;
}
.lista.visual_citrico .opcoes_e_titulo_da_lista>.opcao_encolher{
  max-height: 24px;
  cursor: pointer;
}
.lista.visual_citrico .opcoes_e_titulo_da_lista>.opcao_expandir{
  max-height: 24px;
  cursor: pointer;
}
.lista.visual_citrico .conteudo_da_lista{
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
}
.lista.visual_citrico .item_simples{
  border-top: 1px solid #000;
  padding: 7px 11px;
  background-color: #FFF;
}
.lista.visual_citrico .item_simples:first-child{
  border-top: none;
}
.lista.visual_citrico .item_simples:hover{
  background-color: #E0E0F2;
}
.lista.visual_citrico .item_simples>.local_do_texto_do_item>a{
  color: #0028C8;
  text-decoration: none;
  cursor: pointer;
}
.lista.visual_citrico .item_simples>.local_do_texto_do_item>a:visited{
  color: #6000A0;
  text-decoration: none;
  cursor: pointer;
}
.lista.visual_citrico .item_simples>.local_do_texto_do_item>a:hover{
  text-decoration: underline;
  cursor: pointer;
}

/* Visual Azul Suave */
.lista.visual_azul_suave.aninhamento_impar{
  background-color: #ECECF8;
}
.lista.visual_azul_suave.aninhamento_par{
  background-color: #F6F6F6;
}
.conteudo_da_lista>.lista.visual_azul_suave{
  border-top: 1px solid #202020;
  padding: 15px 10px;
}
.conteudo_da_lista>.lista.visual_azul_suave:first-child{
  border-top: none;
}
.lista.visual_azul_suave .opcoes_e_titulo_da_lista{
  border-top: 1px solid #202020;
  border-right: 1px solid #202020;
  border-bottom: 1px solid #000042;
  border-left: 1px solid #202020;
  padding: 3px 6px;
  background-color: #E8E8FA;
  color: #00003D;
}
.lista.visual_azul_suave .opcoes_e_titulo_da_lista>*{
  display: inline-block;
  vertical-align: middle;
}
.lista.visual_azul_suave .local_do_titulo_da_lista{
  min-width: calc(100% - 24px);
  max-width: calc(100% - 24px);
}
.lista.visual_azul_suave .local_do_titulo_da_lista>a{
  color: #0018B8;
  text-decoration: none;
  cursor: pointer;
}
.lista.visual_azul_suave .local_do_titulo_da_lista>a:visited{
  color: #400094;
  text-decoration: none;
  cursor: pointer;
}
.lista.visual_azul_suave .local_do_titulo_da_lista>a:hover{
  text-decoration: underline;
  cursor: pointer;
}
.lista.visual_azul_suave .opcoes_e_titulo_da_lista>.opcao_encolher{
  max-height: 24px;
  cursor: pointer;
}
.lista.visual_azul_suave .opcoes_e_titulo_da_lista>.opcao_expandir{
  max-height: 24px;
  cursor: pointer;
}
.lista.visual_azul_suave .conteudo_da_lista{
  border-right: 1px solid #202020;
  border-bottom: 1px solid #202020;
  border-left: 1px solid #202020;
}
.lista.visual_azul_suave .item_simples{
  padding: 8px 11px 7px 11px;
  background-color: #FFF;
}
.lista.visual_azul_suave .item_simples:first-child{
  padding: 7px 11px;
}
.lista.visual_azul_suave .item_simples>.local_do_texto_do_item>a{
  color: #0028C8;
  text-decoration: none;
  cursor: pointer;
}
.lista.visual_azul_suave .item_simples>.local_do_texto_do_item>a:visited{
  color: #6000A0;
  text-decoration: none;
  cursor: pointer;
}
.lista.visual_azul_suave .item_simples>.local_do_texto_do_item>a:hover{
  text-decoration: underline;
  cursor: pointer;
}

/* Visual Azul Destaque */
.lista.visual_azul_destaque.aninhamento_impar{
  background-color: #E8E8F8;
}
.lista.visual_azul_destaque.aninhamento_par{
  background-color: #F2F2F2;
}
.conteudo_da_lista>.lista.visual_azul_destaque{
  border-top: 1px solid #000;
  padding: 15px 10px;
}
.conteudo_da_lista>.lista.visual_azul_destaque:first-child{
  border-top: none;
}
.lista.visual_azul_destaque .opcoes_e_titulo_da_lista{
  border: 1px solid #000;
  padding: 3px 6px;
  background-color: #A0D0FD;
  color: #000030;
}
.lista.visual_azul_destaque .opcoes_e_titulo_da_lista>*{
  display: inline-block;
  vertical-align: middle;
}
.lista.visual_azul_destaque .local_do_titulo_da_lista{
  min-width: calc(100% - 24px);
  max-width: calc(100% - 24px);
}
.lista.visual_azul_destaque .local_do_titulo_da_lista>a{
  color: #0018B8;
  text-decoration: none;
  cursor: pointer;
}
.lista.visual_azul_destaque .local_do_titulo_da_lista>a:visited{
  color: #400094;
  text-decoration: none;
  cursor: pointer;
}
.lista.visual_azul_destaque .local_do_titulo_da_lista>a:hover{
  text-decoration: underline;
  cursor: pointer;
}
.lista.visual_azul_destaque .opcoes_e_titulo_da_lista>.opcao_encolher{
  max-height: 24px;
  cursor: pointer;
}
.lista.visual_azul_destaque .opcoes_e_titulo_da_lista>.opcao_expandir{
  max-height: 24px;
  cursor: pointer;
}
.lista.visual_azul_destaque .conteudo_da_lista{
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
}
.lista.visual_azul_destaque .item_simples{
  padding: 8px 11px 7px 11px;
  background-color: #FFF;
}
.lista.visual_azul_destaque .item_simples:first-child{
  padding: 7px 11px;
}
.lista.visual_azul_destaque .item_simples:hover{
  background-color: #D0D0F0;
}
.lista.visual_azul_destaque .item_simples>.local_do_texto_do_item>a{
  color: #0028C8;
  text-decoration: none;
  cursor: pointer;
}
.lista.visual_azul_destaque .item_simples>.local_do_texto_do_item>a:visited{
  color: #6000A0;
  text-decoration: none;
  cursor: pointer;
}
.lista.visual_azul_destaque .item_simples>.local_do_texto_do_item>a:hover{
  text-decoration: underline;
  cursor: pointer;
}

/* Visual Púrpura Destaque */
.lista.visual_purpura_destaque.aninhamento_impar{
  background-color: #F0DDF8;
}
.lista.visual_purpura_destaque.aninhamento_par{
  background-color: #F0E8FF;
}
.conteudo_da_lista>.lista.visual_purpura_destaque{
  border-top: 1px solid #000;
  padding: 15px 10px;
}
.conteudo_da_lista>.lista.visual_purpura_destaque:first-child{
  border-top: none;
}
.lista.visual_purpura_destaque .opcoes_e_titulo_da_lista{
  border: 1px solid #000;
  padding: 3px 6px;
  background-color: #D8A8F0;
  color: #000;
}
.lista.visual_purpura_destaque .opcoes_e_titulo_da_lista>*{
  display: inline-block;
  vertical-align: middle;
}
.lista.visual_purpura_destaque .local_do_titulo_da_lista{
  min-width: calc(100% - 24px);
  max-width: calc(100% - 24px);
}
.lista.visual_purpura_destaque .local_do_titulo_da_lista>a{
  color: #5000C0;
  text-decoration: none;
  cursor: pointer;
}
.lista.visual_purpura_destaque .local_do_titulo_da_lista>a:visited{
  color: #8200B0;
  text-decoration: none;
  cursor: pointer;
}
.lista.visual_purpura_destaque .local_do_titulo_da_lista>a:hover{
  text-decoration: underline;
  cursor: pointer;
}
.lista.visual_purpura_destaque .opcoes_e_titulo_da_lista>.opcao_encolher{
  max-height: 24px;
  cursor: pointer;
}
.lista.visual_purpura_destaque .opcoes_e_titulo_da_lista>.opcao_expandir{
  max-height: 24px;
  cursor: pointer;
}
.lista.visual_purpura_destaque .conteudo_da_lista{
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
}
.lista.visual_purpura_destaque .item_simples{
  padding: 8px 11px 7px 11px;
  background-color: #FFF;
}
.lista.visual_purpura_destaque .item_simples:first-child{
  padding: 7px 11px;
}
.lista.visual_purpura_destaque .item_simples:hover{
  background-color: #F6DDF6;
}
.lista.visual_purpura_destaque .item_simples>.local_do_texto_do_item>a{
  color: #A000E8;
  text-decoration: none;
  cursor: pointer;
}
.lista.visual_purpura_destaque .item_simples>.local_do_texto_do_item>a:visited{
  color: #E800F8;
  text-decoration: none;
  cursor: pointer;
}
.lista.visual_purpura_destaque .item_simples>.local_do_texto_do_item>a:hover{
  text-decoration: underline;
  cursor: pointer;
}

/* Visual Escuro */
.lista.visual_escuro.aninhamento_impar{
  background-color: #545454;
}
.lista.visual_escuro.aninhamento_par{
  background-color: #484848;
}
.conteudo_da_lista>.lista.visual_escuro{
  border-top: 1px solid #202020;
  padding: 15px 10px;
}
.conteudo_da_lista>.lista.visual_escuro:first-child{
  border-top: none;
}
.lista.visual_escuro .opcoes_e_titulo_da_lista{
  padding: 4px 7px;
  background-color: #202020;
  color: #FFF;
}
.lista.visual_escuro .opcoes_e_titulo_da_lista>*{
  display: inline-block;
  vertical-align: middle;
}
.lista.visual_escuro .local_do_titulo_da_lista{
  min-width: calc(100% - 24px);
  max-width: calc(100% - 24px);
}
.lista.visual_escuro .local_do_titulo_da_lista>a{
  color: #00FF00;
  text-decoration: none;
  cursor: pointer;
}
.lista.visual_escuro .local_do_titulo_da_lista>a:visited{
  color: #00FFFF;
  text-decoration: none;
  cursor: pointer;
}
.lista.visual_escuro .local_do_titulo_da_lista>a:hover{
  text-decoration: underline;
  cursor: pointer;
}
.lista.visual_escuro .opcoes_e_titulo_da_lista>.opcao_encolher{
  max-height: 24px;
  cursor: pointer;
}
.lista.visual_escuro .opcoes_e_titulo_da_lista>.opcao_encolher>svg{
  filter: invert(1) brightness(0) sepia(1) hue-rotate(0deg) saturate(1) invert(1);
}
.lista.visual_escuro .opcoes_e_titulo_da_lista>.opcao_expandir{
  max-height: 24px;
  cursor: pointer;
}
.lista.visual_escuro .opcoes_e_titulo_da_lista>.opcao_expandir>svg{
  filter: invert(1) brightness(0) sepia(1) hue-rotate(0deg) saturate(1) invert(1);
}
.lista.visual_escuro .conteudo_da_lista{
  border-right: 1px solid #202020;
  border-bottom: 1px solid #202020;
  border-left: 1px solid #202020;
}
.lista.visual_escuro .item_simples{
  padding: 8px 11px 7px 11px;
  background-color: #262626;
  color: #FFF;
}
.lista.visual_escuro .item_simples:first-child{
  padding: 7px 11px;
}
.lista.visual_escuro .item_simples:hover{
  background-color: #FFF;
  color: #000;
}
.lista.visual_escuro .item_simples>.local_do_texto_do_item>a{
  color: #00FF00;
  text-decoration: none;
  cursor: pointer;
}
.lista.visual_escuro .item_simples:hover>.local_do_texto_do_item>a{
  color: #0028C8;
}
.lista.visual_escuro .item_simples>.local_do_texto_do_item>a:visited{
  color: #00FFFF;
  text-decoration: none;
  cursor: pointer;
}
.lista.visual_escuro .item_simples:hover>.local_do_texto_do_item>a:visited{
  color: #6000A0;
}
.lista.visual_escuro .item_simples>.local_do_texto_do_item>a:hover{
  text-decoration: underline;
  cursor: pointer;
}

/* Estilos úteis */
.tag_oculta{
  display: none !important;
}
